---
layout: default
---

{% capture i18n_date %}
{% assign day = page.date | date: "%-d" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign month = site.months[m] %}
{% assign year = page.date | date: "%Y" %}
{% assign datum = day | append: ". " | append: month | append: " " | append: year %}
{% endcapture %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ datum }}</span>
  {{ content }}
  <h4>Děkujeme, že nás čtete!</h4>
  {% if page.sources %}
  <hr>
  <h3>Zdroje použité v tomto příspěvku</h3>
  <ul class="related-posts">
    {% for source in page.sources %}
    <li>{{ source }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>